<aton-menu></aton-menu>
<div class="aton">
    <div class="ui grid container">
        <div class="ui sixteen wide column">
            <h1>Welcome to Aton</h1>


            <p>Enim error esse iusto esse mollitia. Doloremque porro omnis voluptas ratione. Occaecati esse quas ipsam
                enim atque id dolorum dignissimos. Eligendi aut et doloremque adipisci tenetur est. Corporis occaecati
                voluptas fugiat.</p>

            <p>Officiis quis necessitatibus dolore fuga tenetur excepturi quia. Voluptas qui perspiciatis non quis
                beatae dolores. Et cum et id voluptate natus.</p>

            <p>Incidunt saepe quis facere id aut voluptatibus ex quibusdam. Consequatur unde nesciunt quis aliquam ea
                qui. Velit accusantium autem dolor qui. Aut modi corporis maxime minus quis iure. Architecto ut ea cum
                aut est est. Nemo voluptatem maxime dolor blanditiis.</p>

            <p>Provident illum hic magnam deleniti totam. Ipsum occaecati sequi aliquid aperiam asperiores cupiditate
                numquam. Maiores sint provident unde perspiciatis et facilis natus eos. Suscipit debitis corrupti sit
                quisquam voluptatum eligendi.</p>

            <p>Dolorum possimus laborum dignissimos a repellendus. Et omnis perspiciatis est sunt vel qui quod. Debitis
                eveniet eum quibusdam sed repellat assumenda. Esse nihil molestiae est alias non laboriosam dignissimos.
                Natus quo aut culpa est consectetur numquam enim. Aut esse omnis ut labore molestiae earum sed
                excepturi.</p>

        </div>
        <p></p>
    </div>
</div>
