<h1 class="ui header">{{room.name}} <span class="id">| {{room.id}}</span></h1>
<div class="ui four column grid">
    <aton-computer></aton-computer>
    <aton-computer></aton-computer>
    <aton-computer></aton-computer>
    <aton-computer></aton-computer>
    <aton-computer></aton-computer>
    <aton-computer></aton-computer>
</div>
<p></p>
<div class="ui three buttons">
    <button class="ui basic yellow button"><i class="talk icon"></i> Send a message</button>
    <button class="ui basic orange button"><i class="rocket icon"></i> Send order</button>
    <button class="ui basic red button"><i class="power icon"></i> Shutdown</button>
</div>