<div class="ui center aligned header">{{room.name}} <span class="id">| {{room.id}}</span></div>
<div class="center aligned content">
    <div *ngIf="computers.length != 0" class="ui four column grid container">
        <aton-computer *ngFor="let computer of computers" [computer]="computer[0]" [state]="computer[1]"
                       [connectedUsers]="computer[2]" (messageClicked)="someMessagesClicked($event)"
                       (computerSelected)="selectComputer($event)" (editComputerClicked)="editComputer($event)"></aton-computer>
    </div>
    <h1 *ngIf="computers.length == 0" class="ui center aligned icon header">
        <i class="circular cube icon"></i>
        <div class="content">There are not computers here!</div>
    </h1>
    <button *ngIf="computers.length == 0 && isLoggedIn()" class="ui basic green button" (click)="addANewComputer()"><i class="plus icon"></i> Add a computer</button>
</div>
<!--<p *ngIf="computers.length != 0 && isLoggedIn()"></p>-->
<div class="description">
    <div *ngIf="computers.length != 0 && isLoggedIn()" class="ui description three buttons">
        <div class="ui basic green buttons">
            <div class="ui button">Edit computers</div>
            <sm-dropdown class="floating icon button">
                <div class="item" (click)="deleteSelected()"><i class="delete icon"></i> Delete computers</div>
                <div class="item" (click)="deleteSelected()"><i class="edit icon"></i> Edit room</div>
                <div class="item"><i class="delete icon"></i> Delete room</div>
                <div class="item" (click)="addANewComputer()"><i class="plus icon"></i> Add computer</div>
            </sm-dropdown>
        </div>
        <button class="ui basic grey button" (click)="sendOnSelected()"><i class="talk icon"></i> Send a message
        </button>
        <button class="ui basic orange button"><i class="rocket icon"></i> Send order</button>
    </div>
</div>
