<div *ngIf="laboratories.length != 0" class="ui cards two column grid container">
    <div *ngFor="let laboratory of laboratories" class="card">
        <div class="content">
            <div class="right floated">
                <button class="ui red icon button" (click)="deleteLaboratory(laboratory.id)"><i class="trash icon"></i>
                </button>
            </div>

            <div class="header"><a [routerLink]="['/laboratory', laboratory.id]"><i class="lab icon"></i>{{laboratory.name}}</a>
            </div>
            <div class="meta">{{laboratory.location}}</div>
            <div class="description">
                {{laboratory.administration}}
            </div>
        </div>
    </div>
    <aton-add-laboratory *ngIf="isLoggedIn()"></aton-add-laboratory>
</div>
<div *ngIf="laboratories.length == 0" class="ui segments container">
    <div class="ui center aligned segment">
        <h1 class="ui center aligned icon header">
            <i class="circular cube icon"></i>
            <div class="content">There are not laboratories here!
                <div class="sub header">
                    <aton-add-laboratory *ngIf="isLoggedIn()"></aton-add-laboratory>
                </div>
            </div>
        </h1>
    </div>
</div>