@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans|Sura:400,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #bdc3c7;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

header {
    width: 100%;
    height: 45px;
    background-color: #34495e;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.logo a {
    font-weight: 700;
    font-size: 1.8em;
    color: white;
}

.logo a:hover {
    color: #C8AA80;
    text-decoration: none;
}

.logo a span {
    font-weight: 300;
}

div#container {

    /*height: calc(100vh - 50px) !important;*/
    width: 100%;
    margin: 0 auto;
}

.sidebar {
    width: 200px;
    background-color: #2c3e50;
    float: left;
}

aside ul {

}

aside ul li {
    list-style: none;
}

aside ul li ul li {
    margin-left: 20px;
    background-color: #304357;
}

aside ul li a {
    color: #95a5a6;
    display: block;
    padding: 12px;
    font-size: 1.2em;
    border-bottom: 1px solid #34495e;
    -webkit-transition: 0.2s;
    -mox-transition: 0.2s;
    transition: 0.2s;
}

aside ul li a:hover {
    text-decoration: none;
    background-color: #95a5a6;
    color: #2c3e50;
    padding-left: 15px;
}

aside ul li a.selected {
    background-color: #95a5a6;
    color: #2c3e50;
}

.content {
    /*width: auto;*/
    margin-left: 200px;
    /*height: calc(100vh - 65px);*/
    background-color: #bdc3c7;
    padding: 15px;
}

.content p {
    color: #7f8c8d;
    font-family: 'Sura', serif;
    font-size: 1.1em;
}

.content h1 h2 h3 h4 {
    font-family: 'Sura', serif;
}

.add-button {
    margin: 0.7em 0;
}

.panel {
    display: table-cell;
}

.panel-heading a {
    padding-top: 0.05em;
    padding-bottom: 0.06em;
    margin-top: -0.15em;
    margin-right: 1.2em;
}

.panel-body {
    padding-bottom: 0;
}

.command {
    font-family: "Courier New", serif;
}

div .box {
    margin: 5px;
}

div .box .box-top {
    color: white;
    text-shadow: 0 1px #7f8c8d;
    background-color: #2980b9;
    padding: 5px 5px 5px 15px;
    font-weight: 300;
}

div .box .box-panel {
    padding: 15px;
    background-color: #ecf0f1;
}

div .equipo {
    margin: 2px;
}

div .equipo .equipo-titulo {
    color: white;
    text-shadow: 0 1px #7f8c8d;
    background-color: #2ecc71;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 300;
}

div .equipo .equipo-titulo i {
    padding-right: 10px;
}

div .equipo .equipo-cuerpo {
    padding: 15px;
    background-color: #bdc3c7;
}

div #not-found {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

div #not-found p {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

div #not-found h1 {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

div #not-found .not-found-icon {
    font-size: 6em;
}

div .usuario {
    font-size: 10px;
    position: absolute;
    top: 5px;
    right: 10px;
}

a.mobile {
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    padding: 7px;
}

.btn-agregar-tabla {
    text-align: center;
}

a.mobile:active {
    background-color: #4a4a4a;
}

@media only screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
    }

    .content {
        margin-left: 0;
    }
}

@media only screen and (min-width: 401px) {
    .sidebar {
        height: calc(100vh - 45px);
    }

    a.mobile {
        display: none;
    }
}

.panel-equipo {
    padding: 0 !important;
    padding-left: 10px !important;
    margin: 0 !important;
}

.interior-equipo {
    padding: 10px !important;
    margin: 0 !important;
}

.boton-login {
    text-align: right;
}

.btn span.glyphicon {
    opacity: 0;
}

.btn.active span.glyphicon {
    opacity: 1;
}