<button class="ui green button" (click)="newRoomModal.show({inverted: true})"><i class="ui plus icon"></i>Add new room</button>
<sm-modal title="Add a new room" class="cross" icon="users" #newRoomModal>
    <modal-content>
        <form class="ui form" #roomForm="ngForm">
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        <i class="info icon"></i>Name:
                    </div>
                    <input required placeholder="Name of the room" [(ngModel)]="name" icon="info" name="name"
                           #nameRef="ngModel" type="text">
                    <div *ngIf="!(nameRef.valid || nameRef.pristine)" class="ui left pointing red basic label">
                        <i class="edit icon"></i>Please enter a value
                    </div>
                </div>
            </div>
        </form>
    </modal-content>
    <modal-actions>
        <sm-button icon="Remove" class="left orange" (click)="newRoomModal.hide()">Cancel</sm-button>
        <sm-button (click)="roomForm.form.valid && submit()" [disabled]="!roomForm.form.valid" class="violet"><i
                class="send icon"></i>Add
        </sm-button>

    </modal-actions>
</sm-modal>