<div class="ui green card computer">
    <div class="content">
        <div class="right floated mini ui icon"><i class="desktop icon"></i></div>
        <div class="green header">
            {{computer.name}}
        </div>
        <div class="meta">
            <i class="signal icon"></i>{{computer.ip}} | <i class="linux icon"></i> Manjaro
        </div>
        <div class="description">
            {{computer.description}}
        </div>
    </div>
    <div class="extra content">
        <div class="ui three buttons">
            <button class="ui basic grey icon toggle button">
                <i class="Checkmark icon"></i>
            </button>
            <div class="ui vertical animated basic brown button" (click)="sendMessageClick()"  tabindex="0">
                <div class="hidden content">Message</div>
                <div class="visible content">
                    <i class="talk icon"></i>
                </div>
            </div>
            <div class="ui vertical animated basic orange button" tabindex="0">
                <div class="hidden content">Send order</div>
                <div class="visible content">
                    <i class="rocket icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
