@()(implicit messages: Messages)
<div id="commandbox" class="modal fade" role="dialog">
    <div class="modal-dialog">
            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@messages("computer.executeCommandTitle")</h4>
            </div>
            <div class="modal-body">
                <div class="row"><p>@messages("computer.executeCommandBody")</p></div>

                <div class="row">
                    <form action="" id="commandform" method="post">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input id="sshorder_superuser" name="sshorder.superuser" type="checkbox"/>
                            </span>
                            <input id="sshorder_command" name="sshorder.command" type="text" class="form-control" placeholder="@messages("sshorder.command")">
                            <span class="input-group-btn">
                                <button id="sendcommandbutton" class="btn btn-default" type="submit">@messages("computer.sendCommand")</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form action="" id="blockpageform" method="post">
                        <div class="input-group">
                            <input id="page_url" name="page.url" type="text" class="form-control" placeholder="@messages("page.urlplaceholder")"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">@messages("page.block")</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <a id="shutdown" class="btn btn-danger" href="" onclick="return confirm(@messages("computer.shutdown.confirm"))">@messages("computer.shutdown")</a>
                    <a id="upgrade" class="btn btn-info" href="" onclick="return confirm(@messages("computer.upgrade.confirm"))">@messages("computer.upgrade")</a>
                    <a id="unfreeze" class="btn btn-info" href="" onclick="return confirm(@messages("computer.unfreeze.confirm"))">@messages("computer.unfreeze")</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@messages("close")</button>
            </div>
        </div>

    </div>
</div>