@import controllers.admin.{routes => adminroutes}
@import model.{Computer, ComputerState}
@(computer: Computer, computerState: Option[ComputerState], isAdmin: Boolean)(implicit messages: Messages)
<div class="col-md-2 panel-inicio">

    <div class="panel panel-@{
        if(computerState.isDefined) {
            computerState.get.state match {
                case 1 => "success"
                case 2 => "default"
                case _ => "danger"
            }
        } else {
            "default"
        }
    }">
        <div class="panel-heading icon ion-monitor"> @(if(computer.name.getOrElse("") != "") {
            computer.name.get
        } else {
            computer.ip
        })
        </div>

        <div class="panel-body interior-laboratorio">
            <div class="btn-group btn-group-justified boton-interior-laboratorio" role="group" aria-label="...">
                <div class="btn-group dropdown" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon ion-information-circled"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @if(computerState.isDefined && computerState.get.mac.isDefined) {
                            <li>
                                <p class="dropdown-text">MAC: @computerState.get.mac.get</p>
                            </li>
                        }
                        <li>
                            <p class="dropdown-text">IP: @computer.ip</p>
                        </li>
                        @if(computerState.isDefined && computerState.get.operatingSystem.isDefined) {
                            <li>
                                <p class="dropdown-text">OS: @computerState.get.operatingSystem.get</p>
                            </li>
                        }
                        @if(isAdmin) {
                            <li role="separator" class="divider"></li>
                            <li>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#commandBox@computer.ip">@messages("computer.sendCommand")</button>
                            </li>
                            <li><a href="@adminroutes.ComputerController.editForm(computer.ip)" class="btn btn-danger">
                                @messages("edit")</a></li>
                            <li><a href="@adminroutes.ComputerController.delete(computer.ip)" class="btn btn-warning">
                                @messages("delete")</a></li>
                        }
                    </ul>
                </div>
            </div>
            @if(isAdmin) {
                <div id="commandBox@computer.ip" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                            <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">@messages("computer.executeCommandTitle")</h4>
                            </div>
                            <div class="modal-body">
                                <p>@messages("computer.executeCommandBody")</p>
                                <a class="btn btn-danger" href="@adminroutes.ComputerController.shutdown(computer.ip)" onclick="return confirm(@messages("computer.shutdown.confirm"))">@messages("computer.shutdown")</a>
                                <a class="btn btn-info" href="@adminroutes.ComputerController.upgrade(computer.ip)" onclick="return confirm(@messages("computer.upgrade.confirm"))">@messages("computer.upgrade")</a>
                                <a class="btn btn-info" href="@adminroutes.ComputerController.unfreeze(computer.ip)" onclick="return confirm(@messages("computer.unfreeze.confirm"))">@messages("computer.unfreeze")</a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">@messages("close")</button>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>
