@(userName: Option[String])(implicit messages: Messages)
<header>
    <div class="logo">
        <a href="/">Aton <span>Web</span></a>
    </div>
    <div class="usuario">
        @if(userName.isDefined) {
            <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @userName.get <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/admin/editar-userName-@userName"
                class="flaticon-edit18"> @messages("header.editUser")</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="@routes.LoginController.logout"
                class="flaticon-power107"> Cerrar sesión</a></li>
            </ul>
        } else {
            <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @messages("user.notLoggedIn") <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="@routes.LoginController.login"
                class="flaticon-login12"> @messages("user.login")</a></li>
            </ul>
        }
    </div>
</header>
<a class="mobile" href="#">MENU</a>