@*Plantilla de todas las páginas.*@
@(title: String, content: Html)(implicit messages: Messages, userName: Option[String], isAdmin: Boolean)
<html data-framework="angular2">
    <head>
        <title>@title - @messages("app.name")</title>
        @* Librerías webjar *@
        <script type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
        @*<script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/webjars-requirejs.js")"></script>*@
            <!-- jQuery -->
        <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>

            <!-- Bootstrap -->
        <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")"/>


            <!-- Ionicons -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/ionicons/css/ionicons.min.css")"/>


            <!-- Script básico para la página -->
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/general.js")"></script>
            <!-- Estilos generales -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/global.css")"/>

        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.ico")"/>

            <!-- Flaticon
        <link rel="stylesheet" type="text/css" href=" @routes.Assets.versioned("stylesheets/flaticon.css")
            "/>-->
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/todomvc-common/base.css")">
        @*<link rel="stylesheet" href="assets/stylesheets/todomvc-app.css">*@
        <script src='@routes.Assets.versioned("lib/angular2/bundles/angular2-polyfills.js")'></script>
        <script src='@routes.Assets.versioned("lib/systemjs/dist/system.js")'></script>
        <script src='@routes.Assets.versioned("lib/rxjs/bundles/Rx.js")'></script>
        <script src='@routes.Assets.versioned("lib/angular2/bundles/angular2.dev.js")'></script>

        @* if we provide the jvm option -DtsCompileMode=stage to our sbt task our
        typescript app is compiled to one JS file including the ES6 libraries that our app depends on *@
        <script src='@routes.Assets.versioned("main.js")'></script>

        <script>

            @* systemjs will load the module and all it depends on from the main.js file.
                System.import('app/bootstrap')
                        .catch(console.error.bind(console));
            *@
        </script>

        <meta name="viewport"
        content="width=device-width, initial-scale:1.0, user-scale=0" />
    </head>


    <body>
        <div class="wrapper">
            @header()
            <todo-app>Loading...</todo-app>
            <div id="container">
                @menu()
                <div class="content">@content</div>
            </div>
        </div>
    </body>
</html>