@*Plantilla de todas las páginas.*@
@(title: String, content: Html)(implicit messages: Messages, userName: Option[String], isAdmin: Boolean)
<html data-framework="angular2">
    <head>
        <title>@title - @messages("app.name")</title>
        @* Librerías webjar *@
        <script type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
        @*<script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/webjars-requirejs.js")"></script>*@
            <!-- jQuery -->
        <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>

            <!-- Bootstrap -->
        <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")"/>


            <!-- Ionicons -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/ionicons/css/ionicons.min.css")"/>


            <!-- Script básico para la página -->
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/general.js")"></script>
            <!-- Estilos generales -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/global.css")"/>

        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.ico")"/>

            <!-- Flaticon
        <link rel="stylesheet" type="text/css" href=" @routes.Assets.versioned("stylesheets/flaticon.css")
            "/>-->
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/todomvc-common/base.css")">
        @*<link rel="stylesheet" href="assets/stylesheets/todomvc-app.css">*@
        <script type='text/javascript' src='@routes.Assets.versioned("lib/systemjs/dist/system-polyfills.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/core-js/client/shim.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/zone.js/dist/zone.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/reflect-metadata/Reflect.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/systemjs/dist/system.src.js")'></script>

        @* if we provide the jvm option -DtsCompileMode=stage to our sbt task our
        typescript app is compiled to one JS file including the ES6 libraries that our app depends on *@
        <script>    @* our app is downloaded as individual javascript files by SystemJs
                     after compilation by sbt-typescript*@
        var map = {
            'app': 'assets/app',
            '@@angular':'assets/lib/@@angular',
            'rxjs':'assets/lib/rxjs',
            'symbol-observable': 'assets/lib/symbol-observable'
        };
        var packages = {
            'app': {main: 'main.js', defaultExtension: 'js'},
            'rxjs': {defaultExtension: 'js'},
            'assets/lib': {defaultExtension: 'js'},
            'symbol-observable': {defaultExtension: 'js', main: 'index.js'}
        };
        var ngPackageNames = [
            'common',
            'compiler',
            'core',
            'forms',
            'http',
            'platform-browser',
            'platform-browser-dynamic',
            'router'
        ];
        function packIndex(pkgName) {
            packages['@@angular/'+pkgName] = { main: 'index.js', defaultExtension: 'js' };
        }
        function packUmd(pkgName) {
            packages['@@angular/'+pkgName] = { main: '/bundles/' + pkgName + '.umd.js', defaultExtension: 'js' };
        }
        // Most environments should use UMD; some (Karma) need the individual index files
        function addAngularModulesToMap(pkgName) {
            map['@@angular/'+pkgName] = 'assets/lib/angular__' + pkgName;
        }
        // Add package entries for angular packages
        var setPackageConfig = System.packageWithIndex ? packIndex : packUmd;
        ngPackageNames.forEach(setPackageConfig)
        // Add map entries for angular packages
        ngPackageNames.forEach(function(pkgName){
            addAngularModulesToMap(pkgName)
        });
        System.config({
            map : map,
            packages: packages,
        });
        @* SystemJs works out which other modules our app module depends on and will download and load them*@
        System.import('app')
                .catch(console.error.bind(console));
        </script>

        <script>

            @* systemjs will load the module and all it depends on from the main.js file.
                System.import('app/bootstrap')
                        .catch(console.error.bind(console));
            *@
        </script>

        <meta name="viewport"
        content="width=device-width, initial-scale:1.0, user-scale=0" />
    </head>


    <body>
        <div class="wrapper">
            @header()
            <todo-app>Loading...</todo-app>
            <div id="container">
                @menu()
                <div class="content">@content</div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog"></div>
    </body>
</html>