@import controllers.admin.{routes => adminroutes}
@import model.Laboratory
@(laboratories: Seq[Laboratory], admin: Boolean)(implicit messages: Messages)
<div class="panel panel-primary">
    <div class="panel-heading">Laboratorios</div>
    <div class="panel-body">
        @if(laboratories.size != 0) {
            <table class="table table-striped" ng-if={laboratorios.nombre}>
                <thead>
                    <tr>
                        @if(admin) {
                            <th>ID</th>
                        }
                        <th>Nombre</th>
                        <th>Ubicación</th>
                        <th>Administración</th>
                        @if(admin) {
                            <th>Editar</th>
                            <th>Eliminar</th>
                        }
                    </tr>
                </thead>
                <tbody>
                @for(laboratory <- laboratories) {
                    <tr>
                        @if(admin) {
                            <th scope="row">@laboratory.id</th>
                        }
                    <td><a href="@routes.LaboratoryController.get(laboratory.id)">@laboratory.name</a></td>
                    <td>@laboratory.location</td>
                    <td>@laboratory.administration</td>
                        @if(admin) {
                            <td><a href="@adminroutes.LaboratoryController.edit(laboratory.id)">Editar</a></td>
                            <td><a href="@adminroutes.LaboratoryController.delete(laboratory.id)">
                                Eliminar</a></td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        } else {
            <div id="no-encontrado">
                <i class="flaticon-boxes27"></i>
                <h1>Aquí no hay laboratorios</h1>
                <p>Parece que no se han encontrado laboratorios. @if(admin) {Si deseas puedes agregar salas desde el siguiente botón:}else{
                @messages("contactAdmin")
                }</p>
            </div>
        }

        @if(admin) {
            <div class="btn-agregar-tabla">
                <a href="@adminroutes.LaboratoryController.add()" class="btn btn-default " role="button">
                    Agregar laboratorio</a>
            </div>
        }
    </div>
</div>

<div>
    Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>
    , <a href="http://www.freepik.com" title="Freepik">Freepik</a>
    from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed
    by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
</div>
