@import controllers.admin.{routes => adminroutes}
@import model.{Computer, ComputerState, Laboratory, Room}
@import model.ConnectedUser
@(laboratory: Laboratory, roomsWithComputers: Map[Option[Room], Seq[(Computer, Option[(ComputerState, Seq[ConnectedUser])])]])(implicit messages: Messages, isAdmin: Boolean)
<h1>@messages("laboratory").capitalize @laboratory.name</h1>
@if(roomsWithComputers.nonEmpty) {
    @for((room, computers) <- roomsWithComputers if room.isDefined) {
        @roomPanel(room.get, computers)
    }
    @if(isAdmin) {
        <div class="btn-agregar-tabla">
            <a href="@adminroutes.RoomController.add()" class="btn btn-default " role="button">
            @messages("room.add")</a>
            <a href="@adminroutes.ComputerController.add" class="btn btn-default " role="button">
            @messages("computer.add")</a>
        </div>
    }
} else {
    <div class="panel panel-warning">
        <div class="panel-heading">@messages("empty")</div>
        <div class="panel-body">
            <div id="no-encontrado">
                <i class="flaticon-boxes27"></i>
                <h1>@messages("laboratory.empty.title")</h1>
                <p>@messages("laboratory.empty.text")</p>
                @if(isAdmin) {
                    <div class="btn-agregar-tabla">
                        <a href="@adminroutes.RoomController.add()" class="btn btn-default " role="button">@messages("laboratory.addRoom")</a>
                    </div>
                } else {
                    <p>@messages("contactAdmin")</p>
                }
            </div>

        </div>
    </div>
}
