@import controllers.admin.{routes => adminroutes}
@()(implicit messages: Messages, isAdmin: Boolean)
<aside class="sidebar">
    <ul id="nav">
        <li><a href="@routes.HomeController.home()" class="selected icon ion-home"> Inicio </a></li>
        <li><a href="@routes.SuggestionController.home()" class="icon ion-pull-request"> @messages("menu.suggestions")</a></li>
        @if(isAdmin) {
            @*Panel de administrador*@
            <li>
                <a class="icon ion-planet" href="@adminroutes.AdministrationController.administrationPanel()"> @messages("menu.administration")</a>
                <ul>
                    <li><a class="icon ion-planet" href="@adminroutes.LaboratoryController.administrateLaboratories()"> @messages("menu.laboratories")</a></li>
                </ul>
            </li>
        } else {
            @*Panel de userName regular*@
            <li><a class="icon ion-planet" href="@adminroutes.AdministrationController.administrationPanel"> @messages("menu.administration")</a></li>
        }
        <li><a class="icon ion-information-circled" href="@routes.HomeController.about"> @messages("menu.about")</a></li>
    </ul>
</aside>
