@import controllers.admin.{routes => adminroutes}
@(roomForm: Form[model.form.data.ComputerFormData], rooms: Seq[(String, String)])(implicit messages: Messages)
    @implicitField = @{
        helper.FieldConstructor(fieldConstructorTemplate.f)
    }
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">@messages("computer.register.title")</div>
                <div class="panel-body">
                @helper.form(action = adminroutes.ComputerController.add, 'class -> "form-horizontal") {
                    @helper.inputText(roomForm("computer.ip"), 'class -> "form-control", 'placeholder -> "Dirección IP del equipo")
                    @helper.inputText(roomForm("room.name"), 'class -> "form-control", 'placeholder -> "Nombre del equipo")
                    @helper.inputText(roomForm("computer.SSHUser"), 'class -> "form-control", 'placeholder -> "Usuario SSH")
                    @helper.inputPassword(roomForm("computer.SSHPassword"), 'class -> "form-control", 'placeholder -> "Password SSH")
                    @helper.inputText(roomForm("description"), 'class -> "form-control", 'placeholder -> "Descripción del equipo")
                    @helper.select(roomForm("roomID"), rooms, 'class -> "form-control", 'placeholder -> "Sala a la que pertenece")
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button type="submit" class="btn btn-primary">@messages("submit")</button>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
        @helpPanel(messages("computer.help.head"), messages("computer.help.body"))
    </div>
