@import controllers.admin.{routes => adminroutes}
@(laboratoryForm: Form[model.form.data.LaboratoryFormData])(implicit messages: Messages)
    @implicitField = @{
        helper.FieldConstructor(fieldConstructorTemplate.f)
    }
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Agregar laboratory</div>
                <div class="panel-body">
                @helper.form(action = adminroutes.LaboratoryController.add, 'class -> "form-horizontal") {
                    @helper.inputText(laboratoryForm("laboratory.name"), 'class -> "form-control", 'placeholder -> "Nombre del laboratory")
                    @helper.inputText(laboratoryForm("laboratory.location"), 'class -> "form-control", 'placeholder -> "¿Dónde está el laboratory?")
                    @helper.inputText(laboratoryForm("laboratory.administration"), 'class -> "form-control", 'placeholder -> "¿Quién está a cargo?")
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button type="submit" class="btn btn-primary">@messages("submit")</button>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
        @helpPanel(messages("laboratory.help.head"), messages("laboratory.help.body"))
    </div>


    <div>
    Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>
        , <a href="http://www.freepik.com" title="Freepik">Freepik</a>
        from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed
        by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
</div>
