@import controllers.admin.{routes => adminroutes}
@(roomForm: Form[model.form.data.RoomFormData], laboratories: Seq[(String, String)])(implicit messages: Messages)
    @implicitField = @{
        helper.FieldConstructor(fieldConstructorTemplate.f)
    }
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Agregar sala</div>
                <div class="panel-body">
                @helper.form(action = adminroutes.RoomController.add, 'class -> "form-horizontal") {
                    @helper.inputText(roomForm("room.name"), 'class -> "form-control", 'placeholder -> "Nombre de la sala")
                    @helper.inputText(roomForm("room.audiovisualResources"), 'class -> "form-control", 'placeholder -> "¿Tiene videobean, televisor?")
                    @helper.inputText(roomForm("room.basicTools"), 'class -> "form-control", 'placeholder -> "¿Qué herramientas se pueden encontrar aquí?")
                    @helper.select(roomForm("room.laboratoryID"), laboratories, 'class -> "form-control", 'placeholder -> "Laboratorio al que pertenece")
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                            <input type="submit" class="btn btn-primary" placeholder="Agregar"/>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>


    <div>
    Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>
        , <a href="http://www.freepik.com" title="Freepik">Freepik</a>
        from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed
        by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
</div>
