@import controllers.admin.{routes => adminroutes}
@import model.{Computer, ComputerState, ConnectedUser, Room}
@(room: Room, computers: Seq[(Computer, Option[(ComputerState, Seq[ConnectedUser])])])(implicit messages: Messages, isAdmin: Boolean)

<div class="panel panel-primary">
    <div class="panel-heading">@room.name @if(isAdmin) {
        <a href="@adminroutes.RoomController.edit(room.id)" class="btn btn-default pull-right" role="button">@messages("room.edit")</a> <a href="@adminroutes.RoomController.delete(room.id)" class="btn btn-default pull-right" role="button">@messages("room.delete")</a>
    }</div>
    <div class="panel-body">
    @if(computers.nonEmpty) {
        <div class="row">
        @for(((computer, computerState), index) <- computers.zipWithIndex) {
            @computerPanel(computer, computerState, isAdmin, index)
        }
        </div>
    } else {
        <div id="no-encontrado">
            <i class="icon ion-earth"></i>
            <h1>@messages("room.empty.title")</h1>
            <p>@messages("room.empty.body")</p>
            @if(isAdmin) {
                <div class="btn-agregar-tabla">
                    <a href="@adminroutes.ComputerController.add" class="btn btn-default " role="button">
                    @messages("computer.add")</a>
                </div>
            }
        </div>
    }
    </div>
</div>
