@import model.SSHOrder
@import controllers.admin.{routes => adminroutes}
@(sshOrders: Seq[SSHOrder])(implicit messages: Messages)
<div class="panel panel-primary">
    <div class="panel-heading">@messages("sshorders")</div>
    <div class="panel-body">
        @if(sshOrders.nonEmpty) {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>@messages("sshorder.command")</th>
                        <th>@messages("sshorder.sentdatetime")</th>
                        <th>@messages("sshorder.superuser")</th>
                        <th>@messages("sshorder.webuser")</th>
                        <th>@messages("delete")</th>
                    </tr>
                </thead>
                <tbody>
                @for(sshOrder <- sshOrders) {
                    <tr>
                        <th scope="row"><a href="@adminroutes.SSHOrderController.get(sshOrder.id)">@sshOrder.id</a></th>
                        <td class="command">@sshOrder.command</td>
                        <td>@sshOrder.sentDatetime</td>
                        <td>@sshOrder.superUser</td>
                        <td>@sshOrder.webUser</td>
                        <td><a href="@adminroutes.SSHOrderController.delete(sshOrder.id)">
                                @messages("delete")</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        } else {
            <div id="no-encontrado">
                <i class="icon ion-earth"></i>
                <h1>Aquí no hay laboratorios</h1>
                <p>Parece que no se han encontrado laboratorios. @messages("contactAdmin") </p>
            </div>
        }
    </div>
</div>